:root {
  --space: 24px;
  --small-space: 16px;

  --primary-fire: #e95653;
  --primary-water: #3d5e82;
  --grey: #999999;
  --light-grey: #eeeeee;
  --dark: #191919;
  --success: #45f18a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 241, 228);
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  transition: all 0.2s linear;
  cursor: pointer;
}
button:hover {
  filter: brightness(90%);
}
