.container {
  display: flex;
  width: 100%;
}
.cart {
  padding: var(--space);
  background: #fff;
  box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 300px;
  position: relative;
}
.cart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart .cart-subtotal .product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--small-space) / 2);
  padding-bottom: calc(var(--small-space) / 4);
}

.cart .cart-subtotal .product:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
}

.cart .cart-info {
  margin-top: calc(var(--small-space) / 2);
}
.cart .cart-info,
.cart .row-payment {
  display: flex;
  flex-direction: column;
}
.cart .row-total {
  display: flex;
  justify-content: space-between;
}
.cart .row-total .value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.muted {
  color: var(--grey);
  font-size: 0.8rem;
}
.product .img-product {
  width: 30px;
  height: 30px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.cart .row-payment {
  margin-top: var(--small-space);
}
.row-payment button {
  padding: 10px;
  border: 0;
  color: #fff;
}
.cart-info h4 {
  color: var(--dark);
}
.cart-title {
  margin-bottom: var(--small-space);
}
.cart .cart-title {
  margin-bottom: var(--small-space);
}

/* ==================================*/
/* ============== Fire ==============*/
/* ==================================*/
.cart.fire h3 {
  color: var(--primary-fire);
}
.cart.fire .row-payment button:not(:disabled) {
  background: var(--primary-fire);
}

/* =================================*/
/* ============= Water =============*/
/* =================================*/
.cart.water h3 {
  color: var(--primary-water);
}
.cart.water .row-payment button:not(:disabled) {
  background: var(--primary-water);
}

@media (max-width: 998px) {
  .container {
    flex-direction: column-reverse;
  }
  .cart {
    bottom: 0;
    max-width: 100%;
  }
}

.row-payment button:disabled {
  background: var(--light-grey);
  color: var(--grey);
}
/* ========== */
/* Modal */
/* ========== */

.modal-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.modal-success .content {
  display: grid;
  place-items: center;
}
.modal-success .content svg {
  font-size: 44px;
  color: rgb(69, 241, 138);
}
.modal-success .content h1 {
  color: rgb(69, 241, 138);
}
.modal-success .content span {
  color: var(--light-grey);
}
